.name{
    margin-top: 200px;
    margin-left: 450px;
}
a:link{
    color: rgb(7, 7, 7);
}
a:visited{
    color: rgb(2, 14, 76);
}
a:active{
    color: rgb(19, 109, 142);
}
a:hover{
    background-color: rgb(51, 187, 214);
}
#move{
    margin-top: 200px;
    margin-left: 43%;
    font-size: 40px;
    text-decoration: none; 
    border: 3px solid black;
}
#head1
{
 font-size: 100px;
 color: red;
}
#head2{
    font-size: 100px;
    color: black;
    font-style: inherit;
}
#head3{
    font-size: 100px;
    color: rgb(228, 189, 63);
}
#head4{
    font-size: 100px;
    color: blue;
}
#head5{
    font-size: 100px;
    color: rgb(106, 106, 39);
}
#head6{
    font-size: 100px;
    color: black;
    font-style: inherit;
}
#head7{
    font-size: 100px;
    color: brown;
}
#head8{
    font-size: 100px;
    color: yellowgreen;
}
#head9{
    font-size: 100px;
    color: black;
    font-style: inherit;
}
.links{
    margin-left: 800px;
    margin-top: -50px;
    font-size: 30px;
    text-decoration: none;
}
#aboutme{
    text-decoration: none;
}
#education{
    text-decoration: none;
    margin-left: 10px;

}
#projects{
    text-decoration: none;
    margin-left: 10px;
}
#certifications{
    text-decoration: none;
    margin-left: 10px;
}
#contactme{
    text-decoration: none;
    margin-left: 10px;
}
#body{
    background-color: #94edf2;
}